* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(26, 24, 24);
}
.container {
    margin: 160px 0 0 160px;
}
.row {
    width: 100%;
    height: 60px;
}

.first, .second, .third, .fourth, .fifth, .sixth {
    margin: 10px 0 0 0;
}
button {
    background-color: white;
    height: 55px;
    width: 55px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px;
    font-size: 20px;
    margin-left: 5px;
}
button:active {
    box-shadow: 2px 2px 2px white;
}
.delete, .tab, .escape {
    width: 100px;
}
.caps-lock, .enter {
    width: 110px;
}
.shift {
    width: 142px;
}
.space-bar {
    width: 284px;
}
.alt {
    width: 90px;
}
.game-heading {
    margin-bottom: 20px;

}